body{
    background-color: white;
    /* padding: 2rem; */
    margin: 0;
}

::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;

  }

  ::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.cols{
    display: flex;
    margin: 2rem;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    
}
#startt{
    display: flex;
}
.subject{
    position: relative;
    box-shadow: #c4c4c4 1px 1px 15px 2.5px;
    border-radius: 1.15rem;
    padding: 1rem;
    background-color: #ffffff;
    width: 25%;
    margin: 1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    justify-content: space-between;
}
.subject p{
    text-align: center;
}

#subjects{
    display: flex;
    padding-left: 10rem;
    align-items: flex-start;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    margin: 10% auto;
    box-shadow: #8d8d8d 1px 1px 15px 2.5px;
    border-radius: 1.15rem;
    padding: 3rem;
    background-color: #ffffff;
}
.start *{
    margin: 1rem;
}
.intro{
    font-size-adjust: 22;
    line-height: 2rem;
    letter-spacing: 1px;
}
.getStarted{
    margin: 0 33%;
    padding: 1rem 2rem;
    background-color: rgb(46, 163, 241);
    color: white;
    font-weight: 700;
    border-radius: 2rem;
    border:none;
    outline: none;
}
.getStarted:hover{
    cursor: pointer;
    background-color:rgb(41, 143, 211) ;
}
.add{
    display: flex;
}
#add{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: flex;
    align-items: center;
}
.add{
    margin: 1rem 0 0;
}

.add input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3;
    border-color: rgb(157, 57, 214);
    width: 10rem;
    height: 2rem;
    outline: none;
}
.add button{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgb(157, 57, 214);
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    font-size: 18px;
    
}
#add input{
    background: none;
    border-color: rgb(46, 163, 241) ;
}
#add button{
    width: 3rem;
    height: 3rem;
    background-color: rgb(46, 163, 241);
    border-radius: 1.5rem;
    margin: 1rem;
}
#add button:hover{
    cursor: pointer;
    background-color:rgb(41, 143, 211) ; 
}
.add button:hover{
    cursor: pointer;
    background-color:rgb(121, 46, 241) ; 
}
.priority{
    border: none;
    outline: none;
    margin: 0 2rem;
}
#container{
    display: flex;
}
#nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 4rem;
    align-items: center;
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0;
    margin-right: 2rem;   
    border-radius: 1.15rem;
    box-shadow: 2px 2px 6px #999999;
}
#nav button{
    font-size: 18px;
    outline: none;
    border: none; 
    width: 100%; 
    margin: 1.5rem;
    padding: 1rem 2rem;
    background-color: white;
    color: rgb(117, 117, 117);
}
#nav *:hover{
    cursor: pointer;
}
#nav button.active{
    background-color: rgb(46, 163, 241);
    color: white;
}
#nav button.active:hover{
    background-color:rgb(41, 143, 211) ;
}
#categories{
    padding-left: 10rem;
}
.no_display{
    display: none;
}
.h1{
    margin: 0;
}
.chapter{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    color: rgb(100, 100, 100);
    font-size: 18px;
}
i{
    color: rgb(255, 57, 57);
}
.fa-arrow-up{
    color: rgb(90, 221, 90);
}
.fa-angles-up{
    color: rgb(1, 156, 1);
}
.big{
    font-size: 22px;
}
#check{
    display: flex;
    flex-direction: column;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
}
#check .chap{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 4%;
}
#check input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2;
    border-color: rgb(46, 163, 241);
    padding: 0.5rem 2rem;
    outline: none;
    width: 25%;
}
#check .chap .checkbox{
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 5rem;
}